{% extends 'base.html' %} {% block content %}
{% load static %}
<!-- Content from Base.HTML after this block-->

<!-- container for cards-->
<div class="container my-5" id="beercards">
    <div class="row justify-content-center">
        <!-- Code to be iterated to create numerous cards from database -->
        <div class="col-md-4 col-12 mb-4">
            <a href="{Filled from Database Model}" class="card-link">
                <div class="card border-warning">
                    <img src="{Filled from Database Model}" class="card-img-top"
                        alt="Image of Beer Pump for Beer {name}">
                    <div class="card-body">
                        <h5 class="card-title">Beer Name</h5>
                        <p class="card-text">{Filled from Database Model}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Notes: </strong>{Filled from Database Model}</li>
                        <li class="list-group-item"><strong>ABV: </strong>{Filled from Database Model}</li>
                        <li class="list-group-item"><strong>Rating: </strong>{Filled from Database Model}</li>
                    </ul>
                </div>
            </a>
        </div>
        <!-- End of iterated code-->
    </div>
</div>

{% endblock content %}