{% extends 'base.html' %} {% block content %}
{% load static %}
<!-- Content from Base.HTML after this block-->

<!-- container for cards-->
<div class="container my-5" id="beercards">
    <div class="row justify-content-center">
        <!-- Code to be iterated to create numerous cards from database -->
        {% for beer in beer_list %}
        <div class="col-md-4 col-12 mb-4 link_highlight">
            <a href="{% url 'beer_detail' beer.slug %}" class="card-link">
                <div class="card border-warning">
                    {% if "placeholder" in beer.image.url %}
                    <img src="{% static 'images/pintglass.jpg' %}" class="card-img-top"
                        alt="Image of Pint Glass with Beer (placeholder image)">
                    {% else %}
                    <img src="{{ beer.image }}" class="card-img-top"
                        alt="Image of Beer Pump for Beer {beer.beer_name}">
                    <div class="card-body">
                        {% endif %}
                        <h5 class="card-title">{{ beer.beer_name }}</h5>
                        <p class="card-text">{{ beer.brewery }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Notes: </strong>{{ beer.notes }}</li>
                        <li class="list-group-item"><strong>ABV: </strong>{{ beer.abv }}</li>
                        <li class="list-group-item"><strong>Rating: </strong>{Filled from Database Model}</li>
                    </ul>
                </div>
            </a>
        </div>
        <!-- End of iterated code-->
        {% endfor %}
    </div>
</div>

{% endblock content %}